@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MrFixIt.ViewModels

@model LoginViewModel
<div class="create-job-page">
    <h2>Log in with your account</h2>
    <div class="trans-background">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.Email)<br />
            @Html.TextBoxFor(m => m.Email)<br />

            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password)<br />

            <input type="submit" value="Log in" class="btn btn-default" />
        }
    </div>
</div>